<div class="col-md-8">
  <div class="jumbotron">
    test
  <ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
<%= link_to 'add new post', new_post_path() %>

TEST
TEST
ETSTETESTS
</div>
</div>

test
