<div class="col-md-8">
  <div class="posts">
    <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %> by <%= post.author %>
    <br>
    <br>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <div class="tag-section">
  <p>
    <h3>click a tag || see all its posts</h3>
    <p><%= link_to "Add a new Tag", new_tag_path() %>
    </p>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag %><br>
    <% end %>
    <br>
  </div>
</div>
