@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  font-size: 800%;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo-area {
  text-align: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center center;
}

body {
  background: #ececec;
}

.form {
  text-align: center;
}

.titles {
  text-align: center;
}

.posts {
  font-size: 200%;

}
