<!DOCTYPE html>
<html>
<head>
  <title>ClimbingBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span class="logo">
    <h1>climbeginners</h1>
    <h3>all the resources for the beginning climber</h3>
  </span>
<%= yield %>

</body>
</html>
